In [1]:
import pandas as pd

In [13]:
data1 =pd.read_csv("bballPlayers.csv")

In [14]:
data2=pd.read_csv("bballStats.csv")

In [18]:
#data1.head()
#data1.describe()

            height       weight
count  1246.000000  1245.000000
mean     74.138443   196.388755
std      16.940396    50.312351
min       0.000000     0.000000
25%      75.000000   185.000000
50%      78.000000   205.000000
75%      81.000000   220.000000
max      88.000000   300.000000

In [20]:
data2.shape

(4587, 38)

In [79]:
#data3= pd.read_csv("bballStats.txt")

In [24]:
 f = open("bballStats.txt", "r")
 data = f.readlines()

In [34]:
#create a list using delimiter ,
with open('bballStats.txt') as f:
    lines = [line.rstrip() for line in f]

In [115]:
needs_cleaning = lines.pop(3288)
lines[0]

'playerID,GP,minutes,points,oRebounds,dRebounds,rebounds,assists,steals,blocks,turnovers,PF,fgAttempted,fgMade,ftAttempted,ftMade,threeAttempted,threeMade,PostGP,PostGS,PostMinutes,PostPoints,PostoRebounds,PostdRebounds,PostRebounds,PostAssists,PostSteals,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,note,year'

In [41]:
needs_cleaning

'hardaan01,4,72,10,0,10,10,8,2,0,6,7,14,4,2,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,2005harrial01,76,2782,1411,132,391,523,238,85,14,195,301,1220,551,350,243,191,66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,2005'

In [59]:
lines[1]

'abdulma02,67,1505,942,34,87,121,206,55,4,110,149,1009,417,98,84,100,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,1990'

In [43]:
38*2

76

In [63]:
needs_cleaning=needs_cleaning.replace("2005harrial01","2005,harrial01")

In [65]:
needs_cleaning[0:90]

'hardaan01,4,72,10,0,10,10,8,2,0,6,7,14,4,2,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,2005'

In [66]:
needs_cleaning[91:]

'harrial01,76,2782,1411,132,391,523,238,85,14,195,301,1220,551,350,243,191,66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,2005'

In [67]:
lines.append(needs_cleaning[0:90])
lines.append(needs_cleaning[91:])

In [69]:
required_data=pd.DataFrame(lines)
required_data.head()

                                                   0
0  playerID,GP,minutes,points,oRebounds,dRebounds...
1  abdulma02,67,1505,942,34,87,121,206,55,4,110,1...
2  adamsmi01,66,2346,1752,58,198,256,693,147,6,24...
3  aguirma01,78,2006,1104,134,240,374,139,47,20,1...
4  aingeda01,80,1710,890,45,160,205,285,63,13,100...

In [71]:
lines_list=[]
for line in lines:
    lines_list.append(line.split(","))

lines_data = pd.DataFrame(lines_list[1:],columns=lines_list[0])
lines_data.shape

In [77]:
reqPos=["G", "G-F", "F-G", "F", "F-C", "C-F", "C"]

In [108]:
#surveys_df[surveys_df.year == 2002]
reqData=pd.DataFrame()

def reqPosdata(data , strArray , colName):
    for i in range(len(strArray)):
        reqdatasubset = data[data[colName]==strArray[i]]
        #print(reqdatasubset)
        if i == 0:
            reqData=reqdatasubset
        else:
            reqData = reqData.append(reqdatasubset)
            
    return(reqData)


subsettedData = reqPosdata(data = data1,strArray=reqPos,colName = "pos" )
subsettedData.shape

(1167, 5)

In [109]:
data1.shape

(1250, 5)

In [110]:
#problem 2

In [113]:
reqCols=["playerID","GP","minutes","points","oRebounds","dRebounds","rebounds","steals","blocks","turnovers", "PF","fgAttempted","fgMade","ftAttempted","ftMade","threeAttempted","threeMade","year"]   
bballStats=data2[reqCols]
bballStats.head()

,playerID,GP,minutes,points,oRebounds,dRebounds,rebounds,steals,blocks,turnovers,PF,fgAttempted,fgMade,ftAttempted,ftMade,threeAttempted,threeMade,year
0,abdulma02,67,1505,942,34,87,121,55,4,110,149,1009,417,98,84,100,24,1990
1,adamsmi01,66,2346,1752,58,198,256,147,6,240,162,1421,560,529,465,564,167,1990
2,aguirma01,78,2006,1104,134,240,374,47,20,128,209,909,420,317,240,78,24,1990
3,aingeda01,80,1710,890,45,160,205,63,13,100,195,714,337,138,114,251,102,1990
4,andergr01,26,247,70,26,49,75,8,9,22,29,73,27,28,16,1,0,1990

totalData <- merge(bballPlayers,reqData,by="playerID")

In [120]:
bballStats=bballStats.drop("year",axis=1)
bballStats.head()

,playerID,GP,minutes,points,oRebounds,dRebounds,rebounds,steals,blocks,turnovers,PF,fgAttempted,fgMade,ftAttempted,ftMade,threeAttempted,threeMade
0,abdulma02,67,1505,942,34,87,121,55,4,110,149,1009,417,98,84,100,24
1,adamsmi01,66,2346,1752,58,198,256,147,6,240,162,1421,560,529,465,564,167
2,aguirma01,78,2006,1104,134,240,374,47,20,128,209,909,420,317,240,78,24
3,aingeda01,80,1710,890,45,160,205,63,13,100,195,714,337,138,114,251,102
4,andergr01,26,247,70,26,49,75,8,9,22,29,73,27,28,16,1,0

In [122]:
bballStats_grouped = bballStats.groupby(['playerID']).sum()

In [125]:
totalData = pd.merge(data1,bballStats,on="playerID")

In [126]:
totalData.head()

,playerID,name,pos,height,weight,GP,minutes,points,oRebounds,dRebounds,...,steals,blocks,turnovers,PF,fgAttempted,fgMade,ftAttempted,ftMade,threeAttempted,threeMade
0,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,67,1505,942,34,87,...,55,4,110,149,1009,417,98,84,100,24
1,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,81,1538,837,22,92,...,44,4,117,130,845,356,108,94,94,31
2,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,81,2710,1553,51,174,...,84,8,187,179,1407,633,232,217,197,70
3,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,80,2617,1437,27,141,...,82,10,151,150,1279,588,229,219,133,42
4,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,73,2082,1165,32,105,...,77,9,119,126,1005,472,156,138,215,83

In [ ]:
alternate short c